<!-- stworzenie widoku grupy elementów formularza -->
<!-- FormGroup nasłuchuje wydarzenia typu submit w formularzu i emituję dyrektywę ngSubmit, którą można połączyć z wywołaniem zwrotnym -> onSubmit() przechwytuje dane z formularza -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <!-- przycisk odpowiedzialny za wywołanie onSubmit() -->
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>