/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* variables */
:root{
  --bg-primary: #dadada;
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-primary);
}

input {
    border:none;
    background-image:none;
    background-color:transparent;
    border-bottom: 1px solid black;
    /* -webkit-box-shadow: none; */
    /* box-shadow: none; */
}

button {
  border: none;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 60px;
  /* background: var(--bg-primary);
  box-shadow:  30px 30px 77px #c9c9c9, 
             -30px -30px 77px #ebebeb; */
  
}

.container input {
  /* border-radius: 40px; */
  line-height: 1.5rem;
  text-align: center;
}

.container input:first-child {
  width: 80%;
  margin: 20px 0 5px 0;
}

.container input:nth-child(2) {
  width: 60%;
  margin: 0 0 5px 0;
}

.container > button:first-of-type {
  border-radius: 40px;
  width: 40%;
}


.container > button:last-of-type {
  border-radius: 40px;
  width: 60%;
  margin-bottom: 10px;
}


/* Task item style */
ul {
  list-style: none;
  width: 100%;
  transform: translateX(1px);
  /* max-width: 600px; */
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 200px;
  height: 200px;
  /* border: 1px solid; */
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* move due to li styling? */
  /* transform: translateX(-21px); */
  border-radius: 50px;
  background: #dadada;
  box-shadow:  20px 20px 40px #b9b9b9, 
               -20px -20px 40px #fbfbfb;
}

h1 {
  font-size: 1.2rem;
}

/* Task buttons  */


/* first button */
li > button:first-of-type {
  color: white;
  background-color: var(--bg-primary);
}


/* alter  li .taskBtn:nth-of-type(2) */
/* select all but the first - .taskBtn proceeded by .taskBtn*/
li .taskBtn ~ .taskBtn {
  color: white;
  background-color: var(--bg-primary);
}

.fa{
  color: white;
  background: transparent;
  margin-top: 5px;
}

 /* Completed class task */
.completed {
  color: #808080;
  border-radius: 50px;
  background: #dadada;
  box-shadow: inset 20px 20px 40px #b9b9b9, 
            inset -20px -20px 40px #fbfbfb;
}
.completed h1{
  text-decoration: line-through;
}

.completed .taskBtn:nth-of-type(2) {
  background-color: orange;
}