/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* variables */
:root{
  --bg-primary: #dadada;
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-primary);
}

input {
    border:none;
    background-image:none;
    background-color:transparent;
    border-bottom: 1px solid black;
    /* -webkit-box-shadow: none; */
    /* box-shadow: none; */
}

button {
  border: none;
}


main {
  display: flex;
  justify-content: center;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  max-width: 80vw;
  min-height: 50vh;
  border-radius: 60px;
  background: var(--bg-primary);
  box-shadow:  10px 10px 50px #c9c9c9b6, 
             -20px -20px 50px #ebebeb;
}

.mainBtn {
  margin: 8px;
}

.input-container {
  /* border: 1px solid green; */
  width: 50%;
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.input-container input {
  /* border-radius: 40px; */
  line-height: 1.5rem;
  text-align: center;
}

.input-container input:first-child {
  width: 80%;
  margin: 20px 0 5px 0;
}

.input-container input:nth-child(2) {
  width: 60%;
  margin: 0 0 5px 0;
}

.input-container > button:first-of-type {
  border-radius: 40px;
  width: 40%;
}

.input-container > button:last-of-type {
  border-radius: 40px;
  width: 60%;
  margin-bottom: 10px;
  bottom: 0px;
}

.input-container .counter {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Task item style */
ul {
  /* border: 1px solid blue; */
  list-style: none;
  /* width: 100%; */
  transform: translateX(1px);
  /* max-width: 600px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  min-width: 200px;
  min-height: 200px;
  max-width: 80vw;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* move due to li styling? */
  transform: translateX(-21px);
  border-radius: 50px;
  background: #dadada;
  box-shadow:  10px 10px 25px #b9b9b95d, 
               -10px -10px 25px #fbfbfb75;
}

li h1 {
  font-size: 1rem;
  margin: 5%;
}

/* Task buttons  */

/* first button */
li > button:first-of-type {
  color: white;
  background-color: var(--bg-primary);
}


/* alter  li .taskBtn:nth-of-type(2) */
/* select all but the first - .taskBtn proceeded by .taskBtn*/
.taskBtn {
  color: white;
  background: transparent;
  margin-top: 5px;
  transition: transform 0.25s ease;
}


.fa:hover{
  color: black;
  transform: translateY(1px); 
}

 /* Completed class task */
.completed {
  color: #808080;
  border-radius: 50px;
  background: #dadada;
  box-shadow: inset 20px 20px 40px #b9b9b9, 
            inset -20px -20px 40px #fbfbfb;
}
.completed h1{
  text-decoration: line-through;
}

